@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{

}
footer{
  width: 100%;
  background: #111;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins' ,sans-serif;
  color: #d9d9d9;
}
.footer-main-content{
  display: flex;
  justify-items: center;
  text-align: center;
  .box{
    flex-basis: 50%;
    padding: 10px 20px;
    h2{
      font-size: 1.125rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .footer-contents{
      margin: 12px 0 0 0;
    }
  }
}
.left{
  .footer-contents{
    p{
      text-align: justify;
    }
    .social{
      margin: 20px 0 0 0;
      display: flex;
      justify-content: space-evenly;
      a{
        padding: 0 2px;
        span{
          height: 40px;
          width: 40px;
          background: #1a1a1a;
          line-height: 40px;
          text-align: center;
          font-size: 18px;
          border-radius: 5px;
          transition: 0.3s;
        }
        span:hover{
          background: #f12020;
        }
      }
    }
  }
}
@media (min-width: 10px) and (max-width: 768px) {
  .footer-main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}

