@import "~video-react/styles/scss/video-react";
.body-wrapper{
  position: relative;
  padding: 3rem 5rem;
  width: 100%;
  font-family: "Lato" ,sans-serif;
  background: url("../../../images/background-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;

}

.card__item{
  width: 300px;
  height: 180px;
  perspective: 500px;
  margin: 1rem 1rem 4rem 1rem;
  .card{
    position: relative;
    width: 300px;
    height: 180px;
    background: #fff;
    transform-style: preserve-3d;
    transition: .5s;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    border-radius:12px;
    .card__front, .card__back{
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 180px;
      color: #000;
      border-radius:12px;
      backface-visibility: hidden;
    }
    .title {
      margin-top: 2em;
      margin-left:1em ;
      margin-right:1em ;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
      color: white;
      z-index: 1;
      transition: top .3s ease;
    }
    .card__front{
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: start;
      overflow: hidden;
      video{
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: 100%;
          z-index: -1000;
        }
      .overlays {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        border-radius:12px;
        transition: background 0.5s ease;
      }
    }
    .card__back{
      font-size: 25px;
      font-weight: 700;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      transform: rotateY(180deg);
      background: black;
      opacity: 0.9;
      .title{
color: #660066;
      }
      .buttonStyle{
        padding: 0.5em 0.8em;
        border-color: #660066;
        color: #f3edf3;
        box-shadow: 0 0 40px 40px #660066 inset, 0 0 0 0 #660066;
        transition: all 150ms ease-in-out;
        &:hover {
          box-shadow: 0 0 10px 0 #660066 inset, 0 0 10px 4px #660066;
        }
      }
    }
    & a{
      text-decoration: none;
      color: #000;
    }
  }
  &:hover .card {
    transform: rotateY(180deg);
    .overlays, video{
      display: none;
    }
    .card__front{
      background: black;
    }

  }

}



//video section
.video-react-big-play-button{
  border-radius: 50%!important;
  border: none!important;
  width: 50px!important;
  height: 45px!important;
  background: #e93333 !important;

}
.video-holder {
  position: absolute;
  z-index: 1;
  padding: 0!important;
}
.video-holder:before, .video-holder:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #6d6b6b;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #5d5c5c;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.video-holder:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}
//protection
.user-protection{
  padding-right: 30px;
  .childContents{
    margin-top: 2rem;
    text-align: center;
    .inner-text{
      :nth-child(2){
        font-size: 1.3rem;
        margin-bottom: 0;
      }

        :nth-child(3){
          font-weight: 100;
          color: #6d6b6b;
          padding-bottom: 1rem;
        }
      i{
        font-size: 0.9rem;
        text-align: center;
        color: green;
        margin-right: 5px;
        margin-top: 5px;
      }


    }
  }
}


@media (min-width: 10px) and (max-width: 768px) {
  .button a {
    width: 100px;
    padding: 6px 24px;
    text-align: center;
  }

  //carousel

  .containers {

    width: 180px;
    height: 250px;
    padding: 0;
    margin-left: 30px ;

  }
  .button {
    position: absolute;
    width: 280px;
  }
  .title {
    position: absolute;
    width: 280px;
    left: 0;
    top: 120px;
  }
  img {

    width: 200px;
    height: 250px;
    left: 0;
    border-radius: 12px;
  }

}

