$main-text-color:#14213d;
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
.wrapper{
  background: #F3F3F5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }


}
.main{
  margin: 0;
  padding: 0 0;
  .sections-main-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 0;
  }

}


//nafas oluvchi animatsiya
.breath-light {
  box-shadow: 0 0 60px #3c1f8d;

  -webkit-animation: breath 6s;
  animation: breath 6s;

  -webkit-animation-iteration-count:infinite;
  animation-iteration-count:infinite;

}
@-webkit-keyframes breath {
  0%    {opacity: 0.6;}
  60%   {opacity:   1;transform: translate(30, 30)}
  100%  {opacity: 0.6;}
}
@-o-keyframes breath {
  0%    {opacity: 0.6;}
  60%   {opacity:   1;transform: translate(30,30)}
  100%  {opacity: 0.6;}
}
@-moz-keyframes breath {
  0%    {opacity: 0.6;}
  60%   {opacity:    1;transform: translate(30,30)}
  100%  {opacity: 0.6;}
}
@keyframes breath {
  0%    {opacity: 0.6;}
  60%   {opacity:   1;transform: translate(30,30)}
  100%  {opacity: 0.6;}
}

